/*Stacked Blocks*/
.row {
  width: 1200px; }

@media screen and (min-width: 1260px) {
  .row {
    width: 960px; }

  .col1 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 60px; }

  .col2 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 140px; }

  .col3 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 220px; }

  .col4 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 300px; }

  .col5 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 380px; }

  .col6 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 460px; }

  .col7 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 540px; }

  .col8 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 620px; }

  .col9 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 700px; }

  .col10 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 780px; }

  .col11 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 860px; }

  .col12 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: left;
    width: 960px; } }
@media screen and (min-width: 1071px) and (max-width: 1259px) {
  .row {
    width: 768px; }

  .col1 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 44px; }

  .col2 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 108px; }

  .col3 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 172px; }

  .col4 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 236px; }

  .col5 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 300px; }

  .col6 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 364px; }

  .col7 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 428px; }

  .col8 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 492px; }

  .col9 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 556px; }

  .col10 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 620px; }

  .col11 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 684px; }

  .col12 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: left;
    width: 768px; } }
@media screen and (min-width: 961px) and (max-width: 1070px) {
  .row {
    width: 768px; }

  .col1 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 44px; }

  .col2 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 108px; }

  .col3 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 172px; }

  .col4 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 236px; }

  .col5 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 300px; }

  .col6 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 364px; }

  .col7 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 428px; }

  .col8 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 492px; }

  .col9 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 556px; }

  .col10 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 620px; }

  .col11 {
    /*background-color: yellow;*/
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    width: 684px; }

  .col12 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: left;
    width: 768px; } }
@media screen and (min-width: 769px) and (max-width: 960px) {
  .row {
    width: 600px; }

  .col1 {
    /*background-color: yellow;*/
    margin-left: 16px;
    box-sizing: border-box;
    float: left;
    width: 34px; }

  .col2 {
    /*background-color: yellow;*/
    margin-left: 16px;
    box-sizing: border-box;
    float: left;
    width: 84px; }

  .col3 {
    /*background-color: yellow;*/
    margin-left: 16px;
    box-sizing: border-box;
    float: left;
    width: 134px; }

  .col4 {
    /*background-color: yellow;*/
    margin-left: 16px;
    box-sizing: border-box;
    float: left;
    width: 184px; }

  .col5 {
    /*background-color: yellow;*/
    margin-left: 16px;
    box-sizing: border-box;
    float: left;
    width: 234px; }

  .col6 {
    /*background-color: yellow;*/
    margin-left: 16px;
    box-sizing: border-box;
    float: left;
    width: 284px; }

  .col7 {
    /*background-color: yellow;*/
    margin-left: 16px;
    box-sizing: border-box;
    float: left;
    width: 334px; }

  .col8 {
    /*background-color: yellow;*/
    margin-left: 16px;
    box-sizing: border-box;
    float: left;
    width: 384px; }

  .col9 {
    /*background-color: yellow;*/
    margin-left: 16px;
    box-sizing: border-box;
    float: left;
    width: 434px; }

  .col10 {
    /*background-color: yellow;*/
    margin-left: 16px;
    box-sizing: border-box;
    float: left;
    width: 484px; }

  .col11 {
    /*background-color: yellow;*/
    margin-left: 16px;
    box-sizing: border-box;
    float: left;
    width: 534px; }

  .col12 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: left;
    width: 600px; } }
@media screen and (min-width: 601px) and (max-width: 768px) {
  .row {
    width: 420px; }

  .col1 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 400px; }

  .col2 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 400px; }

  .col3 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 400px; }

  .col4 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 400px; }

  .col5 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 400px; }

  .col6 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 400px; }

  .col7 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 400px; }

  .col8 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 400px; }

  .col9 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 400px; }

  .col10 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 400px; }

  .col11 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 400px; }

  .col12 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 400px; } }
@media screen and (min-width: 421px) and (max-width: 600px) {
  .row {
    width: 300px; }

  .col1 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col2 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col3 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col4 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col5 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col6 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col7 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col8 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col9 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col10 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col11 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col12 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; } }
@media screen and (max-width: 420px) {
  .row {
    width: 300px; }

  .col1 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col2 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col3 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col4 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col5 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col6 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col7 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col8 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col9 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col10 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col11 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; }

  .col12 {
    /*background-color: yellow;*/
    margin-left: 0px;
    box-sizing: border-box;
    float: "none";
    width: 280px; } }
.row {
  /*background-color: blue;*/
  float: left; }
