@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);
body {
  width: 100%;
  background-color: #8dc640 !important;
  box-sizing: border-box;
  padding: 4em 0; }

.all {
  height: 480px;
  width: 640px;
  margin: 0 auto;
  background-color: #fdc012;
  box-shadow: 0px 0px 10px 6px #fadd7b;
  box-sizing: border-box; }

.block-content-format {
  box-sizing: border-box;
  padding: 1em; }
  .block-content-format h1 {
    line-height: 1em;
    padding-bottom: 0.64em;
    font-family: "Source Sans Pro", "Calibri" sans;
    font-size: 32px; }
  .block-content-format span {
    color: white;
    font-family: "Calibri","Verdana" sans-serif;
    line-height: 1.64em;
    font-size: 17px; }
  .block-content-format a {
    font-family: "Calibri", "Verdana" sans-serif;
    font-size: 14px;
    color: #FFF;
    cursor: pointer; }
  .block-content-format p {
    text-align: center;
    font-family: "Calibri","Verdana" sans-serif;
    font-size: 18px;
    color: #0470bf; }
  .block-content-format label {
    color: #0470bf;
    font-family: "Calibri","Verdana" sans-serif;
    font-size: 22px;
    padding: 0.32em 0; }

.field-container {
  position: relative;
  padding-left: 0.96em; }
  .field-container input {
    width: 100%;
    box-sizing: border-box;
    height: 30px !important; }

.suggestions-container {
  position: absolute;
  margin-top: 40px;
  margin-left: 5px; }
  .suggestions-container span {
    color: #BBB;
    font-size: 19px; }

.thanks-container {
  display: none; }
  .thanks-container span {
    text-align: center; }
  .thanks-container .fb-like {
    width: 100%;
    text-align: center; }

.loading-container {
  display: none; }

.try-again-container {
  display: none; }
  .try-again-container button {
    width: 180px;
    left: 50%;
    margin-left: -90px;
    position: relative;
    margin-top: 0.32em; }

.button-container button {
  width: 300px;
  left: 50%;
  margin-left: -150px;
  position: relative;
  margin-top: 0.32em; }

.teaser-image {
  width: 240px;
  margin: 0 auto; }

@media screen and (min-width: 601px) and (max-width: 859px) {
  .all {
    height: 440px;
    width: 600px;
    margin: 25px auto; }

  .block-content-format {
    box-sizing: border-box; }
    .block-content-format h1 {
      font-size: 26px; }
    .block-content-format span {
      font-size: 15px; }
    .block-content-format label {
      font-size: 20px; } }
@media screen and (min-width: 471px) and (max-width: 600px) {
  .all {
    height: 600px;
    width: 470px;
    margin: 25px auto; }

  .block-content-format {
    box-sizing: border-box; }
    .block-content-format h1 {
      font-size: 26px; }
    .block-content-format span {
      font-size: 15px; }
    .block-content-format label {
      font-size: 20px; }

  .teaser-container {
    text-align: center; }

  .suggestions-container {
    margin-top: -39px; } }
@media screen and (max-width: 470px) {
  .all {
    height: 680px;
    width: 260px;
    margin: 25px auto; }

  .block-content-format {
    box-sizing: border-box; }
    .block-content-format h1 {
      font-size: 24px; }
    .block-content-format span {
      font-size: 14px; }
    .block-content-format label {
      font-size: 18px; }

  .teaser-container {
    text-align: center; }

  .suggestions-container {
    margin-top: -37px; }
    .suggestions-container span {
      font-size: 12px; }

  .button-container button {
    width: 200px;
    left: 50%;
    margin-left: -100px;
    position: relative; } }
