$vertical-padding: 0.64em;
$horizontal-padding: 1.28em;

body{
	background-color: green;
}

.row{
	margin-left:0px;
}

.all{
	width:800px;
	height:600px;

	margin: 0 auto;
	margin-top: 2em;
 
	background-color: white;
}

.header{
	/*background-color: red;	*/
	padding: $vertical-padding $horizontal-padding;
	box-sizing:border-box;
}

.logo-box{
	/*background-color: orange;*/
	height: 120px;	
	position: relative;

	.logo{
		position: absolute;
		bottom: 0px;
		width: 130px;		
	}
}

.header-tools{
	/*background-color: yellow;*/
	padding-left: $horizontal-padding;
}

.user-box{
	height: 80px;
}

.user-stats{
	/*background-color: purple;*/

	img{
		width: 40px;
		height: 40px;
	}
}

.user-buttons{
	/*background-color: pink;*/
	text-align: right;	
}

.search-box{
	height: 40px;
}

.search-input{
	/*background-color: brown;*/

	input{
		width: 97%;
		height: 30px;
		margin: 0px;
	}
}

.search-button{
	/*background-color: gray;*/
	text-align: right;	
	button{
		height: 40px;	
		width: 78px;
	}
	
}