$margin:0;
$col:8.33;


.row{
	width: 100%;
	/*margin-left:0px !important;*/
}

@mixin col-format($colMargin,$float:left){
	/*background-color: yellow;*/
	margin-left:$colMargin+0px;
	box-sizing: border-box;	

	float:$float;
}

@mixin make-cols($screenWidth,$colWidth,$colMargin){
  
	/*.row{ width: $screenWidth+0px; }*/

	.col1{ @include col-format($colMargin); width: $colWidth+0%; }
	.col2{ @include col-format($colMargin); width: $colWidth*2+$colMargin+0%; }
	.col3{ @include col-format($colMargin); width: $colWidth*3+$colMargin*2+0%; }
	.col4{ @include col-format($colMargin); width: $colWidth*4+$colMargin*3+0%; }
	.col5{ @include col-format($colMargin); width: $colWidth*5+$colMargin*4+0%; }
	.col6{ @include col-format($colMargin); width: $colWidth*6+$colMargin*5+0%; }
	.col7{ @include col-format($colMargin); width: $colWidth*7+$colMargin*6+0%; }
	.col8{ @include col-format($colMargin); width: $colWidth*8+$colMargin*7+0%; }
	.col9{ @include col-format($colMargin); width: $colWidth*9+$colMargin*8+0%; }
	.col10{ @include col-format($colMargin); width: $colWidth*10+$colMargin*9+0%; }
	.col11{ @include col-format($colMargin); width: $colWidth*11+$colMargin*10+0%; }
	.col12{ @include col-format(0); width: $colWidth*12+$colMargin*12+0%; }	
}

@mixin make-cols-stacked($screenWidth,$colWidth,$colMargin){
  
	/*.row{ width: $screenWidth+0%; }*/

	.col1{ @include col-format($colMargin,"none"); width: 100+0%; }
	.col2{ @include col-format($colMargin,"none"); width: 100+0%; }
	.col3{ @include col-format($colMargin,"none"); width: 100+0%; }
	.col4{ @include col-format($colMargin,"none"); width: 100+0%; }
	.col5{ @include col-format($colMargin,"none"); width: 100+0%; }
	.col6{ @include col-format($colMargin,"none"); width: 100+0%; }
	.col7{ @include col-format($colMargin,"none"); width: 100+0%; }
	.col8{ @include col-format($colMargin,"none"); width: 100+0%; }
	.col9{ @include col-format($colMargin,"none"); width: 100+0%; }
	.col10{ @include col-format($colMargin,"none"); width: 100+0%; }
	.col11{ @include col-format($colMargin,"none"); width: 100+0%; }
	.col12{ @include col-format(0,"none"); width: 100+0%; }	
}

@media screen and (min-width: 1260px){
	@include make-cols(960,$col,$margin);	
}


@media screen and (min-width:860px) and (max-width: 1259px){
	@include make-cols(768,$col,$margin);	
}


@media screen and (min-width:601px) and (max-width: 859px){
	@include make-cols(600,$col,$margin);	
}

@media screen and (min-width:421px) and (max-width: 600px){
	@include make-cols-stacked(300,$col,$margin);	
}

@media screen and (max-width: 420px){
	@include make-cols-stacked(300,$col,$margin);	
}

.row{
	/*background-color: blue;*/
	float:left;
}
