$margin960:20;
$col960:60;

$margin768:20;
$col768:44;

$margin600:16;
$col600:34;

/*Stacked Blocks*/
$margin420:0;
$col420:400;

$margin300:0;
$col300:280;

.row{
	width: 1200px;
}

@mixin col-format($colMargin,$float:left){
	/*background-color: yellow;*/
	margin-left:$colMargin+0px;
	box-sizing: border-box;	

	float:$float;
}

@mixin make-cols($screenWidth,$colWidth,$colMargin){
  
	.row{ width: $screenWidth+0px; }

	.col1{ @include col-format($colMargin); width: $colWidth+0px; }
	.col2{ @include col-format($colMargin); width: $colWidth*2+$colMargin+0px; }
	.col3{ @include col-format($colMargin); width: $colWidth*3+$colMargin*2+0px; }
	.col4{ @include col-format($colMargin); width: $colWidth*4+$colMargin*3+0px; }
	.col5{ @include col-format($colMargin); width: $colWidth*5+$colMargin*4+0px; }
	.col6{ @include col-format($colMargin); width: $colWidth*6+$colMargin*5+0px; }
	.col7{ @include col-format($colMargin); width: $colWidth*7+$colMargin*6+0px; }
	.col8{ @include col-format($colMargin); width: $colWidth*8+$colMargin*7+0px; }
	.col9{ @include col-format($colMargin); width: $colWidth*9+$colMargin*8+0px; }
	.col10{ @include col-format($colMargin); width: $colWidth*10+$colMargin*9+0px; }
	.col11{ @include col-format($colMargin); width: $colWidth*11+$colMargin*10+0px; }
	.col12{ @include col-format(0); width: $colWidth*12+$colMargin*12+0px; }	
}

@mixin make-cols-stacked($screenWidth,$colWidth,$colMargin){
  
	.row{ width: $screenWidth+0px; }

	.col1{ @include col-format($colMargin,"none"); width: $colWidth+0px; }
	.col2{ @include col-format($colMargin,"none"); width: $colWidth+0px; }
	.col3{ @include col-format($colMargin,"none"); width: $colWidth+0px; }
	.col4{ @include col-format($colMargin,"none"); width: $colWidth+0px; }
	.col5{ @include col-format($colMargin,"none"); width: $colWidth+0px; }
	.col6{ @include col-format($colMargin,"none"); width: $colWidth+0px; }
	.col7{ @include col-format($colMargin,"none"); width: $colWidth+0px; }
	.col8{ @include col-format($colMargin,"none"); width: $colWidth+0px; }
	.col9{ @include col-format($colMargin,"none"); width: $colWidth+0px; }
	.col10{ @include col-format($colMargin,"none"); width: $colWidth+0px; }
	.col11{ @include col-format($colMargin,"none"); width: $colWidth+0px; }
	.col12{ @include col-format(0,"none"); width: $colWidth+0px; }	
}

@media screen and (min-width: 1260px){
	@include make-cols(960,$col960,$margin960);	
}


@media screen and (min-width:1071px) and (max-width: 1259px){
	@include make-cols(768,$col768,$margin768);	
}

@media screen and (min-width:961px) and (max-width: 1070px){
	@include make-cols(768,$col768,$margin768);	
}

@media screen and (min-width:769px) and (max-width: 960px){
	@include make-cols(600,$col600,$margin600);	
}

@media screen and (min-width:601px) and (max-width: 768px){
	@include make-cols-stacked(420,$col420,$margin420);
}

@media screen and (min-width:421px) and (max-width: 600px){
	@include make-cols-stacked(300,$col300,$margin300);	
}

@media screen and (max-width: 420px){
	@include make-cols-stacked(300,$col300,$margin300);	
}

.row{
	/*background-color: blue;*/
	float:left;
}
