$green-eyes: #8dc640;
$golden-background: #fdc012;
$golden-light: #fadd7b;

$green1: #7bc300;
$green2: #adb054;
$green3: #8f9143;
$brown1: #491600;
$brown2: #856532;

$yellow: #fff400;
$blue: #55bcef;
$blue-logo:#0470bf;
$pink: #ff003c;

$gray: #c3c3c3;

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200);

@mixin h1-block-content-format{
	line-height: 1em;
	padding-bottom: 0.64em;
	font-family: "Source Sans Pro", "Calibri", sans-serif;
	font-size: 32px;
}

@mixin span-block-content-format{
	color: white;
	font-family: "Calibri","Verdana" sans-serif;
	line-height: 1.64em;
	font-size: 17px;	
}

body{
	width:100%;
	background-color: $green-eyes !important;
	box-sizing:border-box; moz-box-sizing:border-box;

	padding: 4em 0;
}

.all{
	height: 480px;
	width: 640px;
	margin: 0 auto;
	background-color: $golden-background;

	box-shadow: 0px 0px 10px 6px $golden-light;
	box-sizing:border-box; moz-box-sizing:border-box;
}

.block-content-format{
	
	h1{ @include h1-block-content-format; }
	span{ @include span-block-content-format; }
	a{ font-family: "Calibri", "Verdana", sans-serif; font-size:14px; color:#FFF; cursor: pointer;}
	padding: 1em;
	p{text-align: center;font-family:"Calibri","Verdana", sans-serif; font-size:18px; color:$blue-logo;}

	label{color:$blue-logo; font-family: "Calibri","Verdana", sans-serif; font-size: 22px; padding: 0.32em 0; }
}	

.field-container{
	padding-left: 0.96em;
	input{width:90%;height:20px !important;border:2px solid #cccccc;}
	text-align:center;

	#question-label-1,#question-label-2{display: none;}
}

.suggestions-container{
	span{color:#BBB; font-size:19px;}
}

.thanks-container{	
	span{text-align: center;}
	.fb-like{width: 100%;text-align: center;}
	display:none;
}

.loading-container{
	display: none;
}

.suggestions-wrapper{
	position:absolute;
	left:50%;
}

.wrapper-input{
	position: relative;
}

.try-again-container{
	display:none;
	text-align: center;
	/*button{width:180px; left:50%; margin-left: -90px; position: relative; margin-top:0.32em;}*/
}

.button-container{
	/*button{width: 300px; left:50%; margin-left: -150px; position: relative; margin-top:0.32em;}*/
}

.teaser-image{
	width:240px;
	margin: 0 auto;
}


.tab-code-container{
	background-color: $blue-logo;
	width: 128px;
	height: 60px;
	position: absolute;
	z-index: 100;

	border-radius: 16px 0px 0px 0px;
	margin-left: -50px;
	/*box-shadow: -5px -5px 12px 1.2px #fadd7b;*/
}

.tab-code-container:hover{
	cursor: pointer;
	animation: tab-code-anim 0.5s;
	-webkit-animation: tab-code-anim 0.5s;
	background-color: #047091;
}

.tab-code-box-cover{
	background-color: $golden-background;
	width: 20px;
	height: 160px;
	position: absolute;
}

.tab-code{
	font-family: "Verdana", sans-serif;
	font-size: 15px;
	/*font-weight: bold;*/
	text-align: center;
	color: white;
	top:8px;
	position: relative;
}			

@keyframes tab-code-anim{
	0% {background-color: $blue-logo;}
	50% {background-color: #0470a5}
	100% {background-color: #047091}
}

@-webkit-keyframes tab-code-anim{
	0% {background-color: $blue-logo;}
	50% {background-color: #0470a5}
	100% {background-color: #047091}
}


.modal{
	background-color: $green-eyes;
}

.modal-body{
	text-align: center;
}

.modal-body h1{
	color: #FFF;			
	line-height: 1em;
	font-family: "Source Sans Pro", "Calibri", sans-serif;				
	padding-bottom: 0.64em;				
	font-size: 32px;
}

.modal-body p{
	font-size: 18px;
	font-family: "Arial" sans-serif;				
}

.invalid-code, .used-code{
	color: #bf0704 !important;				
}

.valid-code{
	color: $blue-logo;
}

.container-inter-blinker{
	display: none;
	text-align: center;
}

.container-inter-blinker h1{
	text-align: center;
	color: $blue-logo;
}		


@media screen and (min-width: 1260px){
	.fluid{display:block;}
	.stacked{display:none;}
}


@media screen and (min-width:860px) and (max-width: 1259px){
	.fluid{display:block;}
	.stacked{display:none;}
}

@media screen and (min-width:601px) and (max-width: 859px){
	.all{
		height: 440px;
		width: 600px;
		margin: 25px auto;	
	}

	.block-content-format{
		box-sizing:border-box; moz-box-sizing:border-box;
		h1{ font-size:26px; }
		span{ font-size:15px; }

		label{font-size: 20px;}
	}	

	.fluid{display:block;}
	.stacked{display:none;}	

}

@media screen and (min-width:471px) and (max-width: 600px){
	.all{
		height: 600px;
		width: 470px;
		margin: 25px auto;	
	}

	.row{
		margin-left:0px !important;
	}	

	.block-content-format{
		box-sizing:border-box; moz-box-sizing:border-box;
		h1{ font-size:26px; }
		span{ font-size:15px; }
		label{font-size: 20px;}

		padding:0px;
		padding-top:1em;
		padding-bottom:1em;
	}	

	.teaser-container{
		text-align: center;
	}

	.suggestions-container{
		margin-top:-48px;
	}

	.fluid{display:none;}
	.stacked{display:block;}	

}

@media screen and (max-width: 470px){
	.all{
		height: 680px;
		width: 260px;
		margin: 25px auto;	
	}

	.row{
		margin-left:0px !important;
	}	

	.block-content-format{
		box-sizing:border-box; moz-box-sizing:border-box;
		h1{ font-size:24px; }
		span{ font-size:14px; }

		label{font-size: 18px;}

		padding:0px;
		padding-top:1em;
		padding-bottom:1em;		
	}	

	.teaser-container{
		text-align: center;
	}

	.suggestions-container{
		margin-top:-48px;
		span{font-size:10px;}
	}

	.fluid{display:none;}
	.stacked{display:block;}

	.button-container{
		button{width: 200px;}
	}	

}

