<!DOCUMENT html>
<html>
	<head>
		<meta property="fb:app_id" content="212341975598829" />
		<meta property="og:site_name" content="Chamado 1 do 1746" />
		<meta property="og:title" content="Like Button" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="http://techcrunch.com/2013/08/31/coinchat/" />
		<meta property="og:image" content="https://developers.facebook.com/images/devsite/developers_og_image.png" />
		<meta name="description" content="" />
		<meta name="title" content="Like Button" />
	</head>
	<body>CALL 1</body>
</html>