<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link rel="stylesheet" href="../css/normalize.css"></link>
 		<link rel="stylesheet" href="../css/mygs-fluid.css"></link> 
		<link rel="stylesheet" href="../css/blog.css"></link>
		<script src="../js/jquery-1.8.2.min.js"></script>

	</head>

	<body>
		<div class="all">

			<div class="row block-content-format zero-block-content">
				<div class="col6">
					<div class="panel-links-simple">
						<div class="block-social">
							<a><img src="../img/twitter-bird-dark-bgs.png" height="25px" /></a>
							<a><img src="../img/FB-f-Logo__white_58.png" height="25px" /></a>
						</div>
						<div class="block-apps">
							<a><img src="../img/facebook_badge.png" height="40px" /></a>
						</div>
					</div>

					<div class="block-logo">
						<img src="../img/blink-logo-final-spotlight-2x1.svg" width="100%" />
					</div>					

				</div>
			
				<div class="col6">
					<div class="block-video">
						<video width="100%" controls>
 							<source src="../mov/blink_movie_2.mp4" type="video/mp4">
						  	<source src="../mov/blink_movie.wmv" type="video/wmv">
							Your browser does not support the video tag.
						</video>
					</div>
				</div>
			</div>

	</body>

</html>