<!DOCUMENT html>
<html>
	<head>
		<title>{{call_title}}</title>
		<meta property="fb:app_id" content="212341975598829" />
		<meta property="og:site_name" content="1746 Maps" />
		<meta property="og:title" content="{{call_title}}" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{{call_object_id}}" />
		<meta property="og:image" content="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/1185212_511378152263805_187513046_n.jpg" />
		<meta name="og:description" content="{{category_description}}" />
		<meta name="title" content="Mapas 1746 - Subtitulo" />
	</head>
	<body>{{call_title}}</body>
</html>