<!DOCUMENT html>
<html>
	<head>
		<title>{{call_title}}</title>
		<meta property="fb:app_id" content="212341975598829" />
		<meta property="og:site_name" content="{{call_title}}" />
		<meta property="og:title" content="Like Button" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{{call_object_id}}" />
		<meta property="og:image" content="https://developers.facebook.com/images/devsite/developers_og_image.png" />
		<meta name="description" content="" />
		<meta name="title" content="Like Button" />
	</head>
	<body>{{call_title}}</body>
</html>