<!DOCUMENT html>
<html>
	<head>
		<title>{{call_title}}</title>
		<meta property="fb:app_id" content="212341975598829" />
		<meta property="og:site_name" content="1746 Maps" />
		<meta property="og:title" content="{{call_title}}" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{{call_object_id}}" />
		<meta property="og:image" content="http://blink-app.herokuapp.com/static/img/{{category_call_image}}" />
		<meta name="description" content="{{category_description}}" />
		<meta name="title" content="Like Button" />
	</head>
	<body>{{call_title}}</body>
</html>