<!DOCUMENT html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="static/css/normalize.css"></link>
	<link rel="stylesheet" href="static/css/bootstrap.css"></link>
	<link rel="stylesheet" href="static/css/mygs-fluid.css"></link>
	<link rel="stylesheet" href="static/css/base.css"></link>
	<link href="/maps/documentation/javascript/examples/default.css" rel="stylesheet">

	<script type="text/javascript" src="static/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.js"></script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script type="text/javascript" src="static/js/markerclusterer.js"></script>

	<script>
		function getFacebookData(call_id,fn_callback){
			var url = "https://graph.facebook.com/http://blink-app.herokuapp.com/call_object/" + call_id;

			$.ajax({
				type:"GET",
				"url": url,
				dataType:"json",
				success:function(r){
					fn_callback(call_id,r,"ok");
				},
				error:function(r){
					fn_callback(call_id,null,"error");
				}
			});

		}

		function putFacebookData(call_id,obj_json,type){

			var like = "#like-"+call_id;
			var comment = "#comment-"+call_id;

			if(type==="error"){
				$(like).css("visibility","hidden");
				$(comment).css("visibility","hidden");
			}else{
				if(obj_json.shares==undefined)
					$( $(like) ).css("visibility","hidden");
				else
					$( $(like+" span") ).html(obj_json.shares);

				if(obj_json.comments==undefined)
					$( $(comment) ).css("visibility","hidden");
				else
					$( $(comment+" span") ).html(obj_json.comments);
			}
		}

		function loadFacebookData(){
			$(".call-card").each(function(idx){
				getFacebookData( $(this).attr("call_id"),putFacebookData );
			});
		}
	</script>
</head>
<body>
	<div id="my-hero-unit" class="hero-unit">
		<img id="logo" src="static/img/logo.png" width="30%" />
		<h1>Mapa 1746</h1>
		<p>O Mapa 1746 é o portal de colaboração onde o cidadão carioca faz diferença.</p>
	</div>

	<div class="well">
		<div class="btn-toolbar view-selector-btn">
			<div class="btn-group">
				<button type="button" id="view-selector-map" class="btn btn-primary">Mapa</button>
				<button type="button" id="view-selector-cards" class="btn btn-primary">Cartões</button>
			</div>
		</div>

	</div>
	

    <script>
		var myMap;

		$.getJSON("http://blink-app.herokuapp.com/ws/", function(json) {
			initialize(json)
		});


		function initialize(json) 
		{

			var mapOptions = 
			{
		  		zoom: 12,
		    		center: new google.maps.LatLng(-22.934998,-43.237064),
		    		mapTypeId: google.maps.MapTypeId.ROADMAP
		  	};
		
		  	myMap = new google.maps.Map(document.getElementById('mapDiv'),
		      					mapOptions);

		  	setMarkers(json);
		}

		function setMarkers(markerList){

			var markers = [];

		  	for (i in markerList){
		  		console.log(markerList[i]);
				var latLng = new google.maps.LatLng(markerList[i].x, markerList[i].y);
			  	var markerImg = new google.maps.MarkerImage('static/img/tree.png', new google.maps.Size(24, 32));

			  	var marker = new google.maps.Marker({
			  			position: latLng, 
			  			map: myMap,
			  			icon:markerImg,
			  			callId: markerList[i].id
			  			});

			  	addMarkerClickListener(marker);

			  	markers.push(marker);
		  	}

			var markerCluster = new MarkerClusterer(myMap, markers);	
		}

		function addMarkerClickListener(marker) {
			google.maps.event.addListener(marker, 'click', function() {				
				location.assign("social_panel/" + marker.callId)
		  	});
		}

		//google.maps.event.addDomListener(window, 'load', initialize);

		$(document).ready(function(){

			$(".call-card").click(function(e){
				var cid = $(e.currentTarget).attr("call_id");
				location.assign("social_panel/" + cid);
			});

			$("#view-selector-map").click(function(e){
				$("#cards").css({display:"none"});
				$("#mapDiv").css({display:"block"});
			});

			$("#view-selector-cards").click(function(e){
				$("#mapDiv").css({display:"none"});	
				$("#cards").css({display:"block"});		
			});

			loadFacebookData();

		});


	</script>

	<div class="content" id = "cards" style="display:none;">
			{% for ob in data %}

				{% if loop.index0%4==0 %}				
					<div class="row">
						<div id="call-list">		
				{% endif %}

				<div class="col3">
					<div call_id="{{ob.call_id}}" class="call-card on-time-state">
						<div class="call-card-top">
							<div id="like-{{ob.call_id}}" class="card-support">
								<span >42</span>
								<img src="static/img/like.png" />
							</div>
							<div id="comment-{{ob.call_id}}" class="card-comment">
								<span>12</span>
								<img src="static/img/bubble.png" />					
							</div>

							<div class="card-category">{{ ob.category|e }}</div>
							<div class="card-street">{{ ob.street_name }}</div>
						</div>

						{% if ob.state=="aberto" %}
							<div class="call-card-bottom state-open">
						{% elif ob.state=="fechado" %}
							<div class="call-card-bottom state-closed">
						{% elif ob.state=="atrasado" %}
							<div class="call-card-bottom state-delayed">
						{% else %}
							<div class="call-card-bottom">
						{% endif %}
							<p>{{ob.state}}</p>
						</div>
					</div>
				</div><!-- col3 -->

				{% if loop.index0%4==3 %}
						</div>
					</div><!-- row -->
				{% endif %}

			{% endfor %}

			</div>
		</div>
	</div>

	<div id="mapDiv">
		
	</div>
</body>
</html>
