{% extends "teaser_base_template.html" %}

{% block lang %}en-us{% endblock %}

{% block head %}
	{{ super() }}
{% endblock head %}

{% block main_text %}
	<h1>Someone told you a secret</h1>
	<span>Blink is the new way to make friends and learn new things. You belong to a really small selected group that knows about it and could be among the firsts Blinkers of our community. You just have to answer the question below and add our Facebook App.</span>
{% endblock main_text %}

{% block lets_go %}
	Let's go!
{% endblock %}


{% block questions %}
	<label id="question-label-1">
		Which activity can you share?
	</label>

	<label id="question-label-2">
		Which activity do you want to discover?
	</label>	
{% endblock questions %}



{% block processing_text %}
	<p>Processing...</p>
{% endblock processing_text %}



{% block thanks_text %}
	<p>Oh yeah! You are the newest Blinker of our community!</p>
	<p><span>Like the Facebook page and stay in tune with the news. Happy Blinking!<span></p>

	<div class="fb-like" data-href="https://www.facebook.com/pages/Que-tal-um-Blink/453539941409736" data-width="450" data-layout="button_count" data-show-faces="true" data-send="false"></div>					
{% endblock thanks_text %}


{% block tab_code %}
	I have the <br /> special code
{% endblock tab_code %}

{% block try_again_text %}
	<p>Sorry, we were not able to receive your amazing blink purpose. Can we try it again?!</p>
	<button id="btn-try-again" class="btn btn-info btn-large">Try it again!</button>
{% endblock try_again_text %}


{% block modal_code %}
	<h1>Enter the code</h1>				
	<input type="text" name="field-code" id="field-code" />				
	<p class="invalid-code">The code is not valid.</p>
	<p class="used-code">This code is in use.</p>		
	<p class="error-code">An unexpected error occurred. Let's try again?!</p>		
	<p class="valid-code">Code accepted!</p>
	<p class="loading-container">Verifying...</p>						
{% endblock modal_code %}

{% block inter_blinker %}

	<h1>You were choosen to be an International Blinker!</h1>

	<span>Being a Blinker is already special, and being an International Blinker is even better. You were  recommended because you are intelligent, reliable and enjoy to make new friends. As an International Blinker you will have the opportunity to strength your language skills and get along with people all around the world. In order to accept to be an International Blinker you should answer the question below. Happy Bllinking!
	</span>

{% endblock inter_blinker %}
