<!DOCTYPE html>
<html lang="{% block lang %}{% endblock %}">
<head>
{% block head %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0">

	<link rel="stylesheet" href="{{CSS_PATH}}normalize.css"></link>
	<link rel="stylesheet" href="{{CSS_PATH}}mygs-fluid.css"></link> 
	<link rel="stylesheet" href="{{CSS_PATH}}bootstrap.css"></link>
	<link rel="stylesheet" href="{{CSS_PATH}}teaser.css"></link>

	{% if DEBUG %}
	<script src="{{JS_PATH}}teaser_test.js"></script>
	{% endif %}
	<script src="{{JS_PATH}}teaser.js"></script>
	<script src="{{JS_PATH}}jquery-1.8.2.min.js"></script>	
	<script src="{{JS_PATH}}bootstrap.js"></script>	

	<script>

		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-43956953-1', 'blink-app.herokuapp.com');
		ga('send', 'pageview');


		$(document).ready(function(){	
		{% if portuguese %}
		var suggestions = ["Dançar Salsa","Manobras de Skate","Dicas para um mochilão na Europa","Posições de Ioga","Desenhar o Sr. Incrível","A importância da luz na fotografia","História da 2a Guerra Mundial","Programação em Python","Curiosidades sobre raças de cachorros"];
		{% else %}
		var suggestions = ["Dance Salsa","Skate Tricks","Hints for a backpack on Europe","Yoga Poses","How to draw Mr. Incredible","The importance of light on Photograph","Second World War History","Python Programming","Dog breeds characteristics"];
		{% endif %}

			teaser_init(suggestions);
		});
	</script>

{% endblock head %}
</head>
<body>
	{% block body %}
	<div id="fb-root"></div>
		<script>
		  // 507371419342913
		  // 1408547952691251
		  // localhost:5000
		  //blink-app.herokuapp.com/
		  window.fbAsyncInit = function() {
		    // init the FB JS SDK

		    {% if DEBUG %}
		    FB.init({
		      appId      : '507371419342913',
		      channelUrl : '//localhost:5000/', 
		      status     : true,               
		      xfbml      : true          
		    });

		    {% else %}

		    FB.init({
		      appId      : '1408547952691251',
		      channelUrl : '//blink-app.herokuapp.com/', 
		      status     : true,               
		      xfbml      : true          
		    });
		    {% endif %}

		    // Additional initialization code such as adding Event Listeners goes here
		  };

		  // Load the SDK asynchronously
		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "//connect.facebook.net/en_US/all.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));  
		</script>		
	</div>

	<div class="all">

		<div class="tab-code-container">
			<div class="tab-code">
				{% block tab_code %}
				{% endblock %}
			</div>
		</div>

		<div id="myModal" class="modal hide fade" style="width:360px;margin-left:-180px;">

			<div class="modal-body">
				<div class="modal-body-enter-container">
					{% block modal_code %}
					{% endblock modal_code %}
				</div>		
			</div>

		</div>

		<div class="row block-content-format zero-block-content">

			<div class="container-initial">
				<div class="col6">
					<div class="teaser-image">
						<img src="{{IMG_PATH}}blink-logo-spotlight-yellow.png" width="100%" />
					</div>					
				</div>
			
				<div class="col6">
					<div class="teaser-container">
						{% block main_text %}

						{% endblock main_text %}
					</div>

				</div>
			</div>

			<div class="container-inter-blinker">
				<div class="col12">
					{% block inter_blinker %}
					{% endblock inter_blinker %}
				</div>
			</div>

		</div>

		<div class="row block-content-format zero-block-content">			
			<div class="field-container">
				<div class="col12">
					{% block questions %}		
					{% endblock questions %}		
					
					<div class="control-group wrapper-input">
						<div class="suggestions-wrapper fluid">
							<div class="suggestions-container">
							</div>						
						</div>		

						<input type="text" name="field-question" id="field-question" />				
					</div>						

					<div class="suggestions-wrapper stacked">
						<div class="suggestions-container">
						</div>						
					</div>								

				</div>		

				<div class="button-container">
					<button class="btn btn-info btn-large">{% block lets_go %}{% endblock %}</button>
				</div>					
			</div>

			<div class="loading-container">
				{% block processing_text %}					
				{% endblock processing_text %}
			</div>

			<div class="thanks-container">
				{% block thanks_text %}
				{% endblock thanks_text %}
			</div>

			<div class="try-again-container">
				{% block try_again_text %}				
				{% endblock try_again_text %}
			</div>

		</div>
	{% endblock body %}		
</body>
</html>
