<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link rel="stylesheet" href="../css/normalize.css"></link>
 		<link rel="stylesheet" href="../css/mygs-fluid.css"></link> 
		<link rel="stylesheet" href="../css/teaser.css"></link>
		<link rel="stylesheet" href="../css/bootstrap.css"></link>
		<script src="../js/jquery-1.8.2.min.js"></script>

	</head>

	<body>
		<div class="all">

			<div class="row block-content-format zero-block-content">
				<div class="col6">
					<div class="teaser-image">
						<img src="../img/blink-logo-spotlight-yellow.png" width="100%" />
					</div>					
				</div>
			
				<div class="col6">
					<div class="teaser-container">
						<h1>Alguém te contou um segredo</h1>
						<span>Blink é a mais nova maneira de fazer amigos e aprender coisas novas. Você é um dos primeiros a saber dessa novidade e poderá ser um dos primeiros Blinkers da nossa comunidade, basta responder a pergunta abaixo e adicionar o nosso aplicativo do Facebook.</span>
					</div>
				</div>
			</div>

			<div class="row block-content-format zero-block-content">			
				<div class="col12 field-container">
					<label>O que você pode ensinar?</label>
					<input type="text" name="field-question" id="field-question" />
				</div>
			</div>

	</body>

</html>